<?xml version="1.0"?>
<!--
/**
 * Copyright © Alekseon sp. z o.o.
 * http://www.alekseon.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Alekseon\CustomFormsEmailNotification\Model\Email\EmailNotification">
        <plugin name="Alekseon_CustomFormsFrontend::EmailNotificationPlugin" type="Alekseon\CustomFormsFrontend\Plugin\EmailNotificationPlugin" sortOrder="100" />
    </type>
    <type name="Alekseon\CustomFormsFrontend\Model\Template\Filter">
        <plugin name="Alekseon_CustomFormsFrontend::TemplateFilterPlugin" type="Alekseon\CustomFormsFrontend\Plugin\TemplateFilterPlugin" sortOrder="100" />
    </type>
    <type name="Alekseon\CustomFormsEmailNotification\Model\Email\AbstractSender">
        <arguments>
            <argument name="transportBuilder" xsi:type="object">AlekseonCustomFormsFrontendTransportBuilder</argument>
        </arguments>
    </type>
    <virtualType name="AlekseonCustomFormsFrontendTransportBuilder" type="Magento\Framework\Mail\Template\TransportBuilder">
        <arguments>
            <argument name="templateFactory" xsi:type="object">AlekseonCustomFormsFrontendTemplateFactory</argument>
        </arguments>
    </virtualType>
    <virtualType name="AlekseonCustomFormsFrontendTemplateFactory" type="Magento\Framework\Mail\Template\Factory">
        <arguments>
            <argument name="instanceName" xsi:type="string">AlekseonCustomFormsFrontendTemplateInstance</argument>
        </arguments>
    </virtualType>
    <virtualType name="AlekseonCustomFormsFrontendTemplateInstance" type="Magento\Email\Model\Template">
        <arguments>
            <argument name="filterFactory" xsi:type="object">AlekseonCustomFormsFrontendTemplateFilterFactory</argument>
        </arguments>
    </virtualType>
    <virtualType name="AlekseonCustomFormsFrontendTemplateFilterFactory" type="\Magento\Email\Model\Template\FilterFactory">
        <arguments>
            <argument name="instanceName" xsi:type="string">Alekseon\CustomFormsFrontend\Model\Template\Filter</argument>
        </arguments>
    </virtualType>
    <type name="Alekseon\AlekseonEav\Model\Attribute\DefaultValueProviderRepository">
        <arguments>
            <argument name="defaultValueProviders" xsi:type="array">
                <item name="current_product" xsi:type="array">
                    <item name="label" xsi:type="string">Current Product SKU</item>
                    <item name="factory" xsi:type="object">Alekseon\CustomFormsFrontend\Model\Attribute\DefaultValueProvider\CurrentProductFactory</item>
                    <item name="applicable_frontend_inputs" xsi:type="array">
                        <item name="text" xsi:type="string">text</item>
                    </item>
                </item>
                <item name="current_cms_page" xsi:type="array">
                    <item name="label" xsi:type="string">Current Cms Page Identifier</item>
                    <item name="factory" xsi:type="object">Alekseon\CustomFormsFrontend\Model\Attribute\DefaultValueProvider\CurrentCmsPageFactory</item>
                    <item name="applicable_frontend_inputs" xsi:type="array">
                        <item name="text" xsi:type="string">text</item>
                    </item>
                </item>
                <item name="customer_email" xsi:type="array">
                    <item name="label" xsi:type="string">Customer Email</item>
                    <item name="factory" xsi:type="object">Alekseon\CustomFormsFrontend\Model\Attribute\DefaultValueProvider\CustomerEmailFactory</item>
                    <item name="applicable_frontend_inputs" xsi:type="array">
                        <item name="text" xsi:type="string">text</item>
                    </item>
                </item>
                <item name="default_text" xsi:type="array">
                    <item name="label" xsi:type="string">Default Text</item>
                    <item name="factory" xsi:type="object">Alekseon\CustomFormsFrontend\Model\Attribute\DefaultValueProvider\DefaultTextFactory</item>
                    <item name="applicable_frontend_inputs" xsi:type="array">
                        <item name="textarea" xsi:type="string">textarea</item>
                        <item name="text" xsi:type="string">text</item>
                    </item>
                    <item name="input_params" xsi:type="array">
                        <item name="defaultText" xsi:type="array">
                            <item name="label" xsi:type="string">Default Value</item>
                        </item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Alekseon\CustomFormsFrontend\Model\FrontendBlocksRepository">
        <arguments>
            <argument name="frontendBlocks" xsi:type="array">
                <item name="text" xsi:type="array">
                    <item name="class" xsi:type="string">Alekseon\CustomFormsFrontend\Block\Field\Text</item>
                </item>
                <item name="textarea" xsi:type="array">
                    <item name="class" xsi:type="string">Alekseon\CustomFormsFrontend\Block\Field\Text</item>
                </item>
                <item name="select" xsi:type="array">
                    <item name="class" xsi:type="string">Alekseon\CustomFormsFrontend\Block\Field\Select</item>
                </item>
                <item name="boolean" xsi:type="array">
                    <item name="class" xsi:type="string">Alekseon\CustomFormsFrontend\Block\Field\Select</item>
                </item>
                <item name="multiselect" xsi:type="array">
                    <item name="class" xsi:type="string">Alekseon\CustomFormsFrontend\Block\Field\Multiselect</item>
                </item>
                <item name="image" xsi:type="array">
                    <item name="class" xsi:type="string">Alekseon\CustomFormsFrontend\Block\Field\Image</item>
                </item>
                <item name="rating" xsi:type="array">
                    <item name="class" xsi:type="string">Alekseon\CustomFormsFrontend\Block\Field\Text</item>
                    <item name="template" xsi:type="string">Alekseon_CustomFormsFrontend::field/rating.phtml</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Alekseon\AlekseonEav\Model\Attribute\InputTypeRepository">
        <arguments>
            <argument name="frontendInputTypes" xsi:type="array">
                <item name="text" xsi:type="array">
                    <item name="frontend_blocks" xsi:type="array">
                        <item name="default" xsi:type="array">
                            <item name="label" xsi:type="string">Text</item>
                            <item name="class" xsi:type="string">Alekseon\CustomFormsFrontend\Block\Form\Field\Text</item>
                        </item>
                        <item name="hidden" xsi:type="array">
                            <item name="label" xsi:type="string">Hidden</item>
                            <item name="template" xsi:type="string">Alekseon_CustomFormsFrontend::form/field/hidden.phtml</item>
                        </item>
                        <item name="hidden_if_has_default_value" xsi:type="array">
                            <item name="label" xsi:type="string">Hidden If Has Default Value</item>
                            <item name="class" xsi:type="string">Alekseon\CustomFormsFrontend\Block\Form\Field\TextHiddenIfHasDefaultValue</item>
                            <item name="hidden_template" xsi:type="string">Alekseon_CustomFormsFrontend::form/field/hidden.phtml</item>
                        </item>
                    </item>
                </item>
                <item name="date" xsi:type="array">
                    <item name="frontend_blocks" xsi:type="array">
                        <item name="default" xsi:type="array">
                            <item name="label" xsi:type="string">Date</item>
                            <item name="class" xsi:type="string">Alekseon\CustomFormsFrontend\Block\Form\Field\Date</item>
                        </item>
                    </item>
                </item>
                <item name="textarea" xsi:type="array">
                    <item name="frontend_blocks" xsi:type="array">
                        <item name="default" xsi:type="array">
                            <item name="label" xsi:type="string">Textarea</item>
                            <item name="class" xsi:type="string">Alekseon\CustomFormsFrontend\Block\Form\Field\Textarea</item>
                        </item>
                    </item>
                </item>
                <item name="boolean" xsi:type="array">
                    <item name="frontend_blocks" xsi:type="array">
                        <item name="default" xsi:type="array">
                            <item name="label" xsi:type="string">Select</item>
                            <item name="class" xsi:type="string">Alekseon\CustomFormsFrontend\Block\Form\Field\Select</item>
                        </item>
                        <item name="radio" xsi:type="array">
                            <item name="label" xsi:type="string">Radio</item>
                            <item name="class" xsi:type="string">Alekseon\CustomFormsFrontend\Block\Form\Field\RadioButtons</item>
                        </item>
                        <item name="checkbox" xsi:type="array">
                            <item name="label" xsi:type="string">Checkbox</item>
                            <item name="class" xsi:type="string">Alekseon\CustomFormsFrontend\Block\Form\Field\Checkbox</item>
                        </item>
                    </item>
                </item>
                <item name="select" xsi:type="array">
                    <item name="frontend_blocks" xsi:type="array">
                        <item name="default" xsi:type="array">
                            <item name="label" xsi:type="string">Select</item>
                            <item name="class" xsi:type="string">Alekseon\CustomFormsFrontend\Block\Form\Field\Select</item>
                        </item>
                        <item name="radio" xsi:type="array">
                            <item name="label" xsi:type="string">Radio</item>
                            <item name="class" xsi:type="string">Alekseon\CustomFormsFrontend\Block\Form\Field\RadioButtons</item>
                        </item>
                    </item>
                </item>
                <item name="multiselect" xsi:type="array">
                    <item name="frontend_blocks" xsi:type="array">
                        <item name="default" xsi:type="array">
                            <item name="label" xsi:type="string">Multiselect</item>
                            <item name="class" xsi:type="string">Alekseon\CustomFormsFrontend\Block\Form\Field\Multiselect</item>
                        </item>
                        <item name="checkbox" xsi:type="array">
                            <item name="label" xsi:type="string">Checkbox Horizontal</item>
                            <item name="class" xsi:type="string">Alekseon\CustomFormsFrontend\Block\Form\Field\Checkbox</item>
                        </item>
                        <item name="checkbox_v" xsi:type="array">
                            <item name="label" xsi:type="string">Checkbox Vertical</item>
                            <item name="class" xsi:type="string">Alekseon\CustomFormsFrontend\Block\Form\Field\Checkbox</item>
                            <item name="template" xsi:type="string">Alekseon_CustomFormsFrontend::form/field/checkbox_vertical.phtml</item>
                        </item>
                    </item>
                </item>
                <item name="image" xsi:type="array">
                    <item name="frontend_blocks" xsi:type="array">
                        <item name="default" xsi:type="array">
                            <item name="label" xsi:type="string">Image</item>
                            <item name="class" xsi:type="string">Alekseon\CustomFormsFrontend\Block\Form\Field\Image</item>
                        </item>
                    </item>
                </item>
                <item name="rating" xsi:type="array">
                    <item name="frontend_blocks" xsi:type="array">
                        <item name="default" xsi:type="array">
                            <item name="label" xsi:type="string">Rating</item>
                            <item name="class" xsi:type="string">Alekseon\CustomFormsFrontend\Block\Form\Field\Rating</item>
                        </item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
